name: Update Extensions

on:
  schedule:
    - cron: '0 */6 * * *' # Run every 6 hours
  workflow_dispatch: # Allow manual trigger

jobs:
  update-templates:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Run generation script
        run: |
          cd apimganga
          python script.py --outdir . --verbose

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          
          # Check if there are changes
          if [[ -n $(git status --porcelain apimganga/templates.min.json) ]]; then
            git add apimganga/templates.json apimganga/templates.min.json apimganga/templates.min.json.sha256 apimganga/version.json
            git commit -m "Update extensions templates [skip ci]"
            git push
          else
            echo "No changes to commit"
          fi
